@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/LufgaLight.ttf") format("truetype");
}

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/LufgaRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/LufgaBold.ttf") format("truetype");
}
